<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="18f5707f-fb47-4c99-8336-2ac5bc4e2f17" Alias="blockFolder" Level="2">
  <Info>
    <Name>Block Folder</Name>
    <Icon>icon-brick color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="18f5707f-fb47-4c99-8336-2ac5bc4e2f17" SortOrder="0">blockFolder</ContentType>
    <ContentType Key="46396b25-66ee-4400-aa6a-a3e32c00e41d" SortOrder="1">accordionBlock</ContentType>
    <ContentType Key="209d63a9-2aef-40d7-9316-83bee98be29c" SortOrder="2">blockQuote</ContentType>
    <ContentType Key="6dbb9b75-2242-4108-9aee-735c7d05acc4" SortOrder="3">carouselBlock</ContentType>
    <ContentType Key="80fac889-a6cd-46f4-89b2-2bdfb861513a" SortOrder="4">embedBlock</ContentType>
    <ContentType Key="2e71e999-ec72-4dca-8498-9bccd8987ab8" SortOrder="5">linkListBlock</ContentType>
    <ContentType Key="7277045a-f027-4265-8cc3-60c7940caaf5" SortOrder="6">richTextBlock</ContentType>
    <ContentType Key="cba92987-c3e4-4988-81a0-ba9f1f0366ad" SortOrder="7">textWithImageBlock</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>