<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="209d63a9-2aef-40d7-9316-83bee98be29c" Alias="blockQuote" Level="2">
  <Info>
    <Name>Block Quote</Name>
    <Icon>icon-quote color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Displays a pull quote text with source</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions>
      <Composition Key="3c7a83a8-a52f-44c4-9b87-f785bbdf8be9">blockquoteComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>