<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="622b2d4f-989e-463a-aa72-4ac74383f857" Alias="carouselItemElement" Level="4">
  <Info>
    <Name>Carousel Block Item</Name>
    <Icon>icon-picture color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+List/Elements/Carousel+Item</Folder>
    <Compositions>
      <Composition Key="2d73396c-08ff-46e7-ae82-fc1d286bb37b">blockListLabelComposition</Composition>
      <Composition Key="33489b9d-1543-43bf-af08-c7c079ff5d37">carouselItemComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>