<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4dfde993-bdd9-4d0d-8ed4-eed6f8fe5b33" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-umb-content color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>General content page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Content</Folder>
    <Compositions>
      <Composition Key="d13dac25-67eb-42e2-bc0f-8821f0dad36d">contentBlocksComposition</Composition>
      <Composition Key="8c4e650f-9275-4300-985c-cf303d372252">contentHeaderComposition</Composition>
      <Composition Key="c0394469-7c50-49a7-949e-280f6febee70">pageSettingsComposition</Composition>
      <Composition Key="4ad7b3f9-969f-406a-944f-e75982448e58">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="589e7f7a-3ee9-4202-8e0c-2d15b8059c65">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4dfde993-bdd9-4d0d-8ed4-eed6f8fe5b33" SortOrder="0">contentPage</ContentType>
    <ContentType Key="a0671a33-0479-4697-98a5-4654eacf65da" SortOrder="1">altLink</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>