<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="53ee6398-cfdd-4e88-94df-36756a0f452e" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Content</Folder>
    <Compositions>
      <Composition Key="d13dac25-67eb-42e2-bc0f-8821f0dad36d">contentBlocksComposition</Composition>
      <Composition Key="04767d85-acae-4423-8995-6e27ca02a9a5">contentNodeComposition</Composition>
      <Composition Key="4ad7b3f9-969f-406a-944f-e75982448e58">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="45c64019-b783-4348-ab9c-6f0702f9cbb1">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a0671a33-0479-4697-98a5-4654eacf65da" SortOrder="0">altLink</ContentType>
    <ContentType Key="18f5707f-fb47-4c99-8336-2ac5bc4e2f17" SortOrder="1">blockFolder</ContentType>
    <ContentType Key="629517a3-500c-4903-9348-1a24281faf67" SortOrder="2">contentFolder</ContentType>
    <ContentType Key="4dfde993-bdd9-4d0d-8ed4-eed6f8fe5b33" SortOrder="3">contentPage</ContentType>
    <ContentType Key="419db018-b81b-481f-b09c-dfc3ddf13526" SortOrder="4">blogPage</ContentType>
    <ContentType Key="de60f6cd-3c46-45b1-aeb5-337e6515b50c" SortOrder="5">searchPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>