<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2e71e999-ec72-4dca-8498-9bccd8987ab8" Alias="linkListBlock" Level="2">
  <Info>
    <Name>Link List Block</Name>
    <Icon>icon-link color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Displays a list of links</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions>
      <Composition Key="6e59fdac-7e62-43b2-801f-78bebbd643ac">linkListComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>