<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c0394469-7c50-49a7-949e-280f6febee70" Alias="pageSettingsComposition" Level="2">
  <Info>
    <Name>Page Settings Composition</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9e037e08-79aa-4eaf-85b4-ea2533ddf696</Key>
      <Name>Hide Breadcrumbs</Name>
      <Alias>hideBreadcrumbs</Alias>
      <Definition>1ef91628-cb2d-4825-8ee1-3a06f1928d4e</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/pageSettings1">Page Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ea9e939a-9539-435a-b711-31e6f95b5239</Key>
      <Name>Hide In Sitemap</Name>
      <Alias>noIndex</Alias>
      <Definition>1ef91628-cb2d-4825-8ee1-3a06f1928d4e</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hides from sitemap and external search.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content/pageSettings1">Page Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>60356767-ee27-4294-a01e-9c9e5d790720</Key>
      <Name>Hide In Navigation</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>1ef91628-cb2d-4825-8ee1-3a06f1928d4e</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/pageSettings1">Page Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3179b495-c182-42c5-8fbf-d226f5691db8</Key>
      <Name>Umbraco Redirect</Name>
      <Alias>umbracoRedirect</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content/pageSettings1">Page Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>77e1bc1e-7ff4-4de6-bf50-acc6bf0accf2</Key>
      <Name>Umbraco URL Alias</Name>
      <Alias>umbracoUrlAlias</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Generates alternate URL paths for the node.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content/pageSettings1">Page Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6e6d5275-a7d1-44df-bed5-77f039301082</Key>
      <Caption>Page Settings</Caption>
      <Alias>content/pageSettings1</Alias>
      <Type>Group</Type>
      <SortOrder>90</SortOrder>
    </Tab>
    <Tab>
      <Key>b2497805-eb14-4dd6-a1ae-ffada42c224b</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>