<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="de60f6cd-3c46-45b1-aeb5-337e6515b50c" Alias="searchPage" Level="2">
  <Info>
    <Name>Search Page</Name>
    <Icon>icon-search color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Content</Folder>
    <Compositions>
      <Composition Key="d13dac25-67eb-42e2-bc0f-8821f0dad36d">contentBlocksComposition</Composition>
      <Composition Key="8c4e650f-9275-4300-985c-cf303d372252">contentHeaderComposition</Composition>
      <Composition Key="c0394469-7c50-49a7-949e-280f6febee70">pageSettingsComposition</Composition>
      <Composition Key="4ad7b3f9-969f-406a-944f-e75982448e58">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>SearchPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f9ab3742-09c2-405a-8ae5-3346591c81dc">SearchPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>