<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f719a5ce-f0de-415d-ba06-a1a00aacb3a9" Alias="textWithImageSettings" Level="4">
  <Info>
    <Name>Text with Image Settings</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+List/Elements/Text+with+Image</Folder>
    <Compositions>
      <Composition Key="beab36ed-813a-4374-ba03-860f165d24b8">textWithImageSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>