@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@{
    var selection = Model?.Ancestors().ToArray();

    if (selection?.Length > 0)
    {
        var items = selection.OrderBy(x => x.Level);

        <div class="breadcrumb-wrap my-3">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                @foreach (var item in items)
                                {
                                    if (item.IsComposedOf("contentNodeComposition"))
                                    {
                                        <li class="breadcrumb-item">
                                            <a href="@item.Url()">@item.Name</a>
                                        </li>
                                    }
                                }
                                <li class="breadcrumb-item active" aria-current="page">@Model?.Name</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    }
}