@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    string pageHeader = Model.Value<string>("pageHeaderOverride") != "" ? Model.Value<string>("pageHeaderOverride") : Model.Name;

    if (Model.HasProperty("heroContentBlocks") && Model.HasValue("heroContentBlocks"))
    {
        @Html.GetBlockListHtml(Model, "heroContentBlocks")
    }
    @await Html.PartialAsync("_Breadcrumbs")
    if(!string.IsNullOrEmpty(pageHeader))
    {
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>@pageHeader</h1>
                </div>
            </div>
        </div>
    }
}