@using HelloBlake.Web.Models;
@*@using Umbraco.Cms.Web.Common.PublishedModels;*@
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<SearchModel>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}
@section cp_head {
    @Html.Raw(Model.Value("cpHead"))
}
@section cp_scripts {
    @Html.Raw(Model.Value("cpScripts"))
}
<main id="content">
    @await Html.PartialAsync("_ContentHeader")
    <div class="search">
        <div class="container">
            @await Html.PartialAsync("_SearchForm")
            @await Html.PartialAsync("_SearchResults")
        </div>
    </div>
    @Html.GetBlockListHtml(Model, "contentBlocks")
</main>