<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e400342-75e4-43d4-b77e-ea2a1dd1836e" Alias="Block List - Hero Content" Level="2">
  <Info>
    <Name>Block List - Hero Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "1b0feb9a-f74c-4970-aba3-49a733719529",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "[Carousel] {{umbLabel}}",
      "settingsElementTypeKey": "6fe55492-02ee-4f0d-86f6-b19f6d6d9ba7",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>