<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5490fa89-2ed8-486e-ace1-41418ea2d326" Alias="Block List - Narrow Column" Level="2">
  <Info>
    <Name>Block List - Narrow Column</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a2b64582-6425-407c-a358-2ee0289532c7",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "[Link List] {{umbLabel}}",
      "settingsElementTypeKey": "5a642479-4c68-4f63-a310-313b215cd70e",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "91ab9578-9743-49d4-bcb4-6f01f995d1b8",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "[Rich Text] {{umbLabel}}",
      "settingsElementTypeKey": "bfdbcdb0-68e5-48b6-85ce-bab77f141621",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "7ed68d46-ea5c-4f34-b8c5-1328ea1cb409",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "[Block Quote] {{umbLabel}}",
      "settingsElementTypeKey": "f4797bbd-1604-456e-bf70-313b066f7164",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "31e1fa39-d35e-407f-9dbf-1fd4febb1379",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "[Global Block] {{umbLabel}}",
      "settingsElementTypeKey": "477c6339-8c2b-4fb7-b9b4-ec879576b3e6",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>