<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bee71f5f-25a8-4ee1-ad88-0df2dfc716bc" Alias="Dropdown - Horizontal Alignment" Level="2">
  <Info>
    <Name>Dropdown - Horizontal Alignment</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Center"
    },
    {
      "id": 3,
      "value": "Right"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>