<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a05ba87-680e-4b63-8917-5931a9005f79" Alias="Dropdown - Text Markup" Level="2">
  <Info>
    <Name>Dropdown - Text Markup</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Header 1"
    },
    {
      "id": 2,
      "value": "Header 2"
    },
    {
      "id": 3,
      "value": "Header 3"
    },
    {
      "id": 4,
      "value": "Header 4"
    },
    {
      "id": 5,
      "value": "Header 5"
    },
    {
      "id": 6,
      "value": "Header 6"
    },
    {
      "id": 7,
      "value": "Paragraph"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>