<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee16ba97-0eb9-4b52-937b-bbd299b5c147" Alias="Dropdown - Background Size" Level="2">
  <Info>
    <Name>Dropdown - Background Size</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Cover"
    },
    {
      "id": 2,
      "value": "Contain"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>