<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e46660c9-ef8c-41a2-a0aa-128e09914b8b" Alias="MNTP - Global Block Selector" Level="2">
  <Info>
    <Name>MNTP - Global Block Selector</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Multi+Node+Tree+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "textWithImageBlock,linkListBlock,carouselBlock,carouselBlockItem,richTextBlock,embedBlock,blockQuote,accordionBlock",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": true,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>