<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0c4f7f0-6f3b-4a62-8963-5e70c80b21c8" Alias="MNTP - Related Article Picker" Level="2">
  <Info>
    <Name>MNTP - Related Article Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Multi+Node+Tree+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "articlePage",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": true,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>