<?xml version="1.0" encoding="utf-8"?>
<DataType Key="85ea54d4-ee18-4fa2-b039-0091de2a6690" Alias="MNTP - Navigation" Level="2">
  <Info>
    <Name>MNTP - Navigation</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Multi+Node+Tree+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "altLink,blogPage,contentPage,searchPage,home",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": true,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>