<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7a0c471f-8482-408c-9a1b-d3b601bac87b" Alias="Tags - Article" Level="2">
  <Info>
    <Name>Tags - Article</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom+Config</Folder>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "articles",
  "StorageType": 0
}]]></Config>
</DataType>