<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ef91628-cb2d-4825-8ee1-3a06f1928d4e" Alias="Toggle (Default Off)" Level="2">
  <Info>
    <Name>Toggle (Default Off)</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Toggle</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>