<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="46396b25-66ee-4400-aa6a-a3e32c00e41d" Alias="accordionBlock" Level="2">
  <Info>
    <Name>Accordion Block</Name>
    <Icon>icon-list color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Displays a vertically collapsing accordion</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions>
      <Composition Key="c79b5d6f-f72b-4240-99f8-83fffcbc3de5">accordionComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>