<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2303c685-bf84-47d7-878b-cc3010082b62" Alias="articlePage" Level="2">
  <Info>
    <Name>Article Page</Name>
    <Icon>icon-article color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Content</Folder>
    <Compositions>
      <Composition Key="d13dac25-67eb-42e2-bc0f-8821f0dad36d">contentBlocksComposition</Composition>
      <Composition Key="04767d85-acae-4423-8995-6e27ca02a9a5">contentNodeComposition</Composition>
      <Composition Key="c0394469-7c50-49a7-949e-280f6febee70">pageSettingsComposition</Composition>
      <Composition Key="4ad7b3f9-969f-406a-944f-e75982448e58">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>ArticlePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6d49acd5-3530-4c89-bd02-708b26c5c93d">ArticlePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>626233ee-5000-45a5-80fa-b77bbb71af6d</Key>
      <Name>Article Author</Name>
      <Alias>articleAuthor</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If empty, blog page default author will be used.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/article">Article</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>398516ca-27f2-4ed9-8600-047b225d2b6b</Key>
      <Name>Article Categories</Name>
      <Alias>articleCategories</Alias>
      <Definition>7a0c471f-8482-408c-9a1b-d3b601bac87b</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[No special characters.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content/article">Article</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b21d6c63-c08d-4ca8-9bc5-632275b4826b</Key>
      <Name>Article Date</Name>
      <Alias>articleDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/article">Article</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5a09687c-dca9-43a5-abc0-288d82087f0b</Key>
      <Name>Article Image</Name>
      <Alias>articleImage</Alias>
      <Definition>48fde94c-66e3-4592-8dda-09d028976324</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content/article">Article</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>459ec670-8d79-40ae-8b0a-45f343e35d85</Key>
      <Name>Article Image Alt Text</Name>
      <Alias>articleImageAltText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Required for accessibility if an article image is selected.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content/article">Article</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4e749a8c-45ef-4a3b-b140-af5daf7e5c26</Key>
      <Name>Title Override</Name>
      <Alias>articleTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If empty, node name will be used.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/article">Article</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>92f2e949-2be7-4c92-830c-26df835a5fcc</Key>
      <Name>Related Articles</Name>
      <Alias>relatedArticles</Alias>
      <Definition>a0c4f7f0-6f3b-4a62-8963-5e70c80b21c8</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content/article">Article</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1bc4fcb6-2b1c-4508-ac83-ce5b45666815</Key>
      <Name>Teaser Text</Name>
      <Alias>teaserText</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/teaser">Teaser</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>98c0a4fb-92cb-4a71-98bc-8a3470f03c4c</Key>
      <Caption>Article</Caption>
      <Alias>content/article</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>fe7a5543-cee6-4794-bf5f-5118b1e60dfc</Key>
      <Caption>Teaser</Caption>
      <Alias>content/teaser</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>