<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="419db018-b81b-481f-b09c-dfc3ddf13526" Alias="blogPage" Level="2">
  <Info>
    <Name>Blog Page</Name>
    <Icon>icon-newspaper color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Content</Folder>
    <Compositions>
      <Composition Key="d13dac25-67eb-42e2-bc0f-8821f0dad36d">contentBlocksComposition</Composition>
      <Composition Key="8c4e650f-9275-4300-985c-cf303d372252">contentHeaderComposition</Composition>
      <Composition Key="04767d85-acae-4423-8995-6e27ca02a9a5">contentNodeComposition</Composition>
      <Composition Key="c0394469-7c50-49a7-949e-280f6febee70">pageSettingsComposition</Composition>
      <Composition Key="4ad7b3f9-969f-406a-944f-e75982448e58">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>BlogPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4ee30067-1c5a-4f36-9b67-6430a0cc7b7b">BlogPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2303c685-bf84-47d7-878b-cc3010082b62" SortOrder="0">articlePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9c5e9a88-dd52-4ff6-8adb-4bcba4ab659a</Key>
      <Name>Blog Categories</Name>
      <Alias>blogCategories</Alias>
      <Definition>7a0c471f-8482-408c-9a1b-d3b601bac87b</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/blogListing">Blog Listing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2edc67ce-9992-4afc-bd69-ffb9a8223f28</Key>
      <Name>Default Author Name</Name>
      <Alias>defaultAuthorName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/blogListing">Blog Listing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b0497e62-8395-4531-97b1-ebae9a5e9b39</Key>
      <Name>Pagination Amount</Name>
      <Alias>pageAmount</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/blogListing">Blog Listing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e2771416-6bbe-4006-bdfd-e83bd8280429</Key>
      <Caption>Blog Listing</Caption>
      <Alias>content/blogListing</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>