<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6fe55492-02ee-4f0d-86f6-b19f6d6d9ba7" Alias="carouselSettings" Level="4">
  <Info>
    <Name>Carousel Settings</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+List/Elements/Carousel</Folder>
    <Compositions>
      <Composition Key="a804c3e8-85fc-431d-a18f-3f08e87bf767">carouselSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>