<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6dbb9b75-2242-4108-9aee-735c7d05acc4" Alias="carouselBlock" Level="2">
  <Info>
    <Name>Carousel Block</Name>
    <Icon>icon-pictures-alt-2 color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Displays a slideshow</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions>
      <Composition Key="3aa99a8d-0456-4ff1-89ba-0e357311c2fa">carouselComposition</Composition>
      <Composition Key="a804c3e8-85fc-431d-a18f-3f08e87bf767">carouselSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="8baf0c43-cf85-43f7-9ed3-eb2edc98386a" SortOrder="0">carouselBlockItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>