<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="233afeff-113e-4050-bb3b-88af721071f7" Alias="compBGSettings" Level="2">
  <Info>
    <Name>Background Settings</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1d7ec26f-559f-416c-b5a3-8caaf011fd50</Key>
      <Name>Background Image</Name>
      <Alias>setBgImg</Alias>
      <Definition>523aaae9-fcb0-42aa-843a-05e5ab80fcfa</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content/settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c106037a-85b5-4e1e-a349-421c5d685e91</Key>
      <Name>Background Image Position</Name>
      <Alias>setBgImgPos</Alias>
      <Definition>f8344970-67d8-4a5b-bd3e-3a41049a16c7</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Defaults to center center.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content/settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>17bf54fd-18dd-4654-b702-c4caba3d488d</Key>
      <Name>Background Repeat</Name>
      <Alias>setBgRepeat</Alias>
      <Definition>af278594-d2ff-41c9-8b05-60b01797cd24</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Defaults to no-repeat.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content/settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>290aea36-c4d9-4258-8ea2-04ec82fe0efe</Key>
      <Name>Background Size</Name>
      <Alias>setBgSize</Alias>
      <Definition>ee16ba97-0eb9-4b52-937b-bbd299b5c147</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Defaults to cover.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content/settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8db28a11-1e03-4cfa-a455-c44ffc111cbc</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>e1b98d87-07e0-4948-a90b-1bfe6313f4ce</Key>
      <Caption>Settings</Caption>
      <Alias>content/settings</Alias>
      <Type>Group</Type>
      <SortOrder>90</SortOrder>
    </Tab>
  </Tabs>
</ContentType>