<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bac6207a-7ca0-487a-9e3f-8adc3e288eef" Alias="formSettingsComposition" Level="2">
  <Info>
    <Name>Form Settings Composition</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d15815cb-e429-45a4-be91-2476e247044b</Key>
      <Name>Email From</Name>
      <Alias>emailFrom</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The FROM address of the email. Defaults to no-reply@domain.com]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/formSettings">Form Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b98d67c-48b4-4535-a7d2-6f0ee2676e44</Key>
      <Name>Email Recipients</Name>
      <Alias>emailRecipients</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The list of recipient email addresses. One per line.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/formSettings">Form Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2f3af927-4d6b-4d71-84ba-7348ab684e9f</Key>
      <Name>Email Subject</Name>
      <Alias>emailSubject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Defaults to "Form Submission Received".]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings/formSettings">Form Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2073cf13-014e-4623-b230-db3b3eba7e77</Key>
      <Name>Error Redirect Page</Name>
      <Alias>errorRedirectPage</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The page to display when an error occurs.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="settings/formSettings">Form Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a23d5784-c675-43b8-9392-76e15cc5cb36</Key>
      <Name>Success Redirect Page</Name>
      <Alias>successRedirectPage</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The page to display after a successful submission.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings/formSettings">Form Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>19da7aa3-cc6f-47d5-963a-c6e2a741b999</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>90</SortOrder>
    </Tab>
    <Tab>
      <Key>8376364e-0fb5-49f1-8918-2a6bf4e4f990</Key>
      <Caption>Form Settings</Caption>
      <Alias>settings/formSettings</Alias>
      <Type>Group</Type>
      <SortOrder>80</SortOrder>
    </Tab>
  </Tabs>
</ContentType>