<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7277045a-f027-4265-8cc3-60c7940caaf5" Alias="richTextBlock" Level="2">
  <Info>
    <Name>Rich Text Block</Name>
    <Icon>icon-edit color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Displays general rich text editor content</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions>
      <Composition Key="067ecdb6-8f51-424a-8593-ea546f05e75f">richTextComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>