<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9140aa03-cf35-494b-961b-04f7632ffd5a" Alias="sixSixSection" Level="3">
  <Info>
    <Name>6/6 Section</Name>
    <Icon>icon-display color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Displays split column layout</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+List/Sections</Folder>
    <Compositions>
      <Composition Key="2d73396c-08ff-46e7-ae82-fc1d286bb37b">blockListLabelComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c89e131e-6d8b-4f5c-8430-7dda8d65699d</Key>
      <Name>Column 1</Name>
      <Alias>column1</Alias>
      <Definition>d5305a41-945f-4b45-a7b1-ac5313b33d49</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1918b7f6-3f01-4846-b80d-d19a85a96ceb</Key>
      <Name>Column 2</Name>
      <Alias>column2</Alias>
      <Definition>d5305a41-945f-4b45-a7b1-ac5313b33d49</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4ea229eb-753d-475b-b64f-88fb6b4a5df9</Key>
      <Caption>Content</Caption>
      <Alias>content/content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>