<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cba92987-c3e4-4988-81a0-ba9f1f0366ad" Alias="textWithImageBlock" Level="2">
  <Info>
    <Name>Text with Image Block</Name>
    <Icon>icon-thumbnail-list color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Displays text with an image inside or outside of content container</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions>
      <Composition Key="e353abad-840e-4e44-91cd-bb744c14cf5b">textWithImageComposition</Composition>
      <Composition Key="beab36ed-813a-4374-ba03-860f165d24b8">textWithImageSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>