<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="beab36ed-813a-4374-ba03-860f165d24b8" Alias="textWithImageSettingsComposition" Level="3">
  <Info>
    <Name>Text with Image Settings Composition</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6695313a-29c6-4ab8-9f3d-e9b436628ea7</Key>
      <Name>Align Image Outside Container</Name>
      <Alias>alignOutside</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Display the image aligned to the side of the browser outside the container for content.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings/settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c3639acc-f462-4f0b-8b96-a039a9187ad3</Key>
      <Name>Display Image Right</Name>
      <Alias>alignRight</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Default displays image on left]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings/settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>259f7ffd-53fa-4238-b3a6-eecf07ec7c10</Key>
      <Caption>Settings</Caption>
      <Alias>settings/settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a949f810-4705-4ca5-8eb3-d9dc86edab24</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>9</SortOrder>
    </Tab>
  </Tabs>
</ContentType>