<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e59fb3c6-7922-4c6a-9b8c-bdf60cd3966c" Alias="utilityFolder" Level="2">
  <Info>
    <Name>Utilities Folder</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="39ef4786-ce58-413e-8e28-90a56596e732" SortOrder="0">globalSettings</ContentType>
    <ContentType Key="06ceb72c-80ba-4b45-b898-0e91de1aee6e" SortOrder="1">xmlSitemap</ContentType>
    <ContentType Key="4dfde993-bdd9-4d0d-8ed4-eed6f8fe5b33" SortOrder="2">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>