<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fdfa080f-5c41-4f72-83c6-c42b3c3aca9a" Alias="Block List - Carousel Items" Level="2">
  <Info>
    <Name>Block List - Carousel Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "622b2d4f-989e-463a-aa72-4ac74383f857",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "[Item{{$index}}] {{umbLabel}}",
      "settingsElementTypeKey": "acaf24f6-fa59-42c8-9a34-a3d2bbdc2d06",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>