<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e4f78293-37c2-4418-8cd4-a6dcb3dae6a5" Alias="Block List - Sections" Level="2">
  <Info>
    <Name>Block List - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#c90076",
      "contentElementTypeKey": "211c6bb2-3dea-4ebe-8dc5-9519884289fb",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#ffffff",
      "label": "[12] {{umbLabel}}",
      "settingsElementTypeKey": "9f9a8529-908a-45b0-8bd5-f046fda9a9a1",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#c90076",
      "contentElementTypeKey": "9140aa03-cf35-494b-961b-04f7632ffd5a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#ffffff",
      "label": "[6/6] {{umbLabel}}",
      "settingsElementTypeKey": "9f9a8529-908a-45b0-8bd5-f046fda9a9a1",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#c90076",
      "contentElementTypeKey": "f1bc40cf-6681-411c-9cb0-18e828d4a2fb",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#ffffff",
      "label": "[4/8] {{umbLabel}}",
      "settingsElementTypeKey": "9f9a8529-908a-45b0-8bd5-f046fda9a9a1",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#c90076",
      "contentElementTypeKey": "5205c652-606b-40a1-96bb-9c0d1b624b85",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#ffffff",
      "label": "[8] {{umbLabel}}",
      "settingsElementTypeKey": "9f9a8529-908a-45b0-8bd5-f046fda9a9a1",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#c90076",
      "contentElementTypeKey": "fa19bada-ea51-463e-bed3-30879ca51f41",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#ffffff",
      "label": "[6] {{umbLabel}}",
      "settingsElementTypeKey": "9f9a8529-908a-45b0-8bd5-f046fda9a9a1",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#2986cc",
      "contentElementTypeKey": "38018123-1dcb-48b9-94a0-320f4cd15273",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#ffffff",
      "label": "[Text with Image] {{umbLabel}}",
      "settingsElementTypeKey": "f719a5ce-f0de-415d-ba06-a1a00aacb3a9",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>