<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9fdfeb5c-dd9a-470b-a588-c16115807a25" Alias="Dropdown - Size" Level="2">
  <Info>
    <Name>Dropdown - Size</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Small"
    },
    {
      "id": 2,
      "value": "Medium"
    },
    {
      "id": 3,
      "value": "Large"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>