<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af278594-d2ff-41c9-8b05-60b01797cd24" Alias="Dropdown - Background Repeat" Level="2">
  <Info>
    <Name>Dropdown - Background Repeat</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Repeat"
    },
    {
      "id": 2,
      "value": "No-Repeat"
    },
    {
      "id": 3,
      "value": "Repeat-X"
    },
    {
      "id": 4,
      "value": "Repeat-Y"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>