<?xml version="1.0" encoding="utf-8"?>
<DataType Key="00023832-2eec-4e0e-8c40-7df4e3626a02" Alias="Dropdown - Vertical Alignment" Level="2">
  <Info>
    <Name>Dropdown - Vertical Alignment</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Top"
    },
    {
      "id": 2,
      "value": "Middle"
    },
    {
      "id": 3,
      "value": "Bottom"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>