<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f8344970-67d8-4a5b-bd3e-3a41049a16c7" Alias="Dropdown - Background Position" Level="2">
  <Info>
    <Name>Dropdown - Background Position</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Left Bottom"
    },
    {
      "id": 2,
      "value": "Left Center"
    },
    {
      "id": 3,
      "value": "Left Top"
    },
    {
      "id": 4,
      "value": "Right Bottom"
    },
    {
      "id": 5,
      "value": "Right Center"
    },
    {
      "id": 6,
      "value": "Right Top"
    },
    {
      "id": 7,
      "value": "Center Bottom"
    },
    {
      "id": 8,
      "value": "Center Center"
    },
    {
      "id": 9,
      "value": "Center Top"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>