<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48fde94c-66e3-4592-8dda-09d028976324" Alias="Image Cropper - Article" Level="2">
  <Info>
    <Name>Image Cropper - Article</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Config</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "preview",
      "height": 600,
      "width": 900
    }
  ]
}]]></Config>
</DataType>