<?xml version="1.0" encoding="utf-8"?>
<DataType Key="419b4f5d-3d0d-4da2-9c39-01c2d65a80aa" Alias="RTE - Simple Editor" Level="2">
  <Info>
    <Name>RTE - Simple Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Richtext+Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "removeformat",
      "bold",
      "italic",
      "link",
      "unlink"
    ],
    "stylesheets": [],
    "maxImageSize": 0,
    "mode": "classic",
    "dimensions": {
      "height": 150
    }
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>