<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ea93263-ecac-447f-81a4-5c42b18b23e4" Alias="Single Link Picker" Level="2">
  <Info>
    <Name>Single Link Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Config</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>