<?xml version="1.0" encoding="utf-8"?>
<DataType Key="add31371-05fb-43b9-8081-c04f4ae0c232" Alias="Toggle (Default On)" Level="2">
  <Info>
    <Name>Toggle (Default On)</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Toggle</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>