<?xml version="1.0" encoding="utf-8"?>
<Content Key="af23f673-10d5-4325-b6e5-e5ec677e405a" Alias="Blog" Level="2">
  <Info>
    <Parent Key="cd564c3c-7c58-4c38-b4fe-8ff30dd66b98">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPage</ContentType>
    <CreateDate>2022-09-11T16:42:35</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4ee30067-1c5a-4f36-9b67-6430a0cc7b7b">BlogPage</Template>
  </Info>
  <Properties>
    <blogCategories>
      <Value><![CDATA[category 1,category 2,category 3]]></Value>
    </blogCategories>
    <canonical>
      <Value><![CDATA[]]></Value>
    </canonical>
    <contentBlocks>
      <Value><![CDATA[]]></Value>
    </contentBlocks>
    <defaultAuthorName>
      <Value><![CDATA[Blake Watt]]></Value>
    </defaultAuthorName>
    <heroContentBlocks>
      <Value><![CDATA[]]></Value>
    </heroContentBlocks>
    <hideBreadcrumbs>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumbs>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <pageAmount>
      <Value><![CDATA[]]></Value>
    </pageAmount>
    <pageHeaderOverride>
      <Value><![CDATA[]]></Value>
    </pageHeaderOverride>
    <pageTitleTag>
      <Value><![CDATA[]]></Value>
    </pageTitleTag>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>