<?xml version="1.0" encoding="utf-8"?>
<Content Key="52e517f4-b5fb-45f8-af0c-a34d74e714a7" Alias="Global Link List Block" Level="3">
  <Info>
    <Parent Key="e23b4074-947a-4010-81c0-081cf719a008">Global Blocks</Parent>
    <Path>/Home/GlobalBlocks/GlobalLinkListBlock</Path>
    <Trashed>false</Trashed>
    <ContentType>linkListBlock</ContentType>
    <CreateDate>2022-11-29T16:07:43</CreateDate>
    <NodeName Default="Global Link List Block" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dynLinks>
      <Value><![CDATA[]]></Value>
    </dynLinks>
    <links>
      <Value><![CDATA[[
  {
    "name": "Google",
    "target": "_blank",
    "url": "https://google.com"
  },
  {
    "name": "LinkedIn",
    "target": "_blank",
    "url": "https://linkedin.com"
  }
]]]></Value>
    </links>
  </Properties>
</Content>