<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff8d32b6-a20d-441c-81c0-b92e1eb61cbd" Alias="Global Accordion" Level="3">
  <Info>
    <Parent Key="e23b4074-947a-4010-81c0-081cf719a008">Global Blocks</Parent>
    <Path>/Home/GlobalBlocks/GlobalAccordion</Path>
    <Trashed>false</Trashed>
    <ContentType>accordionBlock</ContentType>
    <CreateDate>2022-11-29T16:04:30</CreateDate>
    <NodeName Default="Global Accordion" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <accordionItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/18b35c100f0e4c2b9c6ec7bbf6ac061e",
        "settingsUdi": "umb://element/ca4d70b26cce4165b6c1e01766b71af2"
      },
      {
        "contentUdi": "umb://element/5b9a891c476040e68083296ff6ab9909",
        "settingsUdi": "umb://element/3dff6339d527408ebda5e51d9be19a35"
      },
      {
        "contentUdi": "umb://element/e5690a6b28fd4573b05caf4b7817f535",
        "settingsUdi": "umb://element/2cd98b808ba74479a8ada49e3ae1c443"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6759547f-9561-4bdc-bbae-5f39dab84afe",
      "udi": "umb://element/18b35c100f0e4c2b9c6ec7bbf6ac061e",
      "umbLabel": "",
      "title": "Where can I find the public roadmap?",
      "text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>"
    },
    {
      "contentTypeKey": "6759547f-9561-4bdc-bbae-5f39dab84afe",
      "udi": "umb://element/5b9a891c476040e68083296ff6ab9909",
      "title": "What features are coming to the starterkit?",
      "text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>"
    },
    {
      "contentTypeKey": "6759547f-9561-4bdc-bbae-5f39dab84afe",
      "udi": "umb://element/e5690a6b28fd4573b05caf4b7817f535",
      "title": "How can I request a fix or feature in the starterkit?",
      "text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a103aa2d-fd45-4802-8052-10ed74703531",
      "udi": "umb://element/ca4d70b26cce4165b6c1e01766b71af2"
    },
    {
      "contentTypeKey": "a103aa2d-fd45-4802-8052-10ed74703531",
      "udi": "umb://element/3dff6339d527408ebda5e51d9be19a35"
    },
    {
      "contentTypeKey": "a103aa2d-fd45-4802-8052-10ed74703531",
      "udi": "umb://element/2cd98b808ba74479a8ada49e3ae1c443"
    }
  ]
}]]></Value>
    </accordionItems>
  </Properties>
</Content>