<?xml version="1.0" encoding="utf-8"?>
<Content Key="e23b4074-947a-4010-81c0-081cf719a008" Alias="Global Blocks" Level="2">
  <Info>
    <Parent Key="cd564c3c-7c58-4c38-b4fe-8ff30dd66b98">Home</Parent>
    <Path>/Home/GlobalBlocks</Path>
    <Trashed>false</Trashed>
    <ContentType>blockFolder</ContentType>
    <CreateDate>2022-11-29T15:55:42</CreateDate>
    <NodeName Default="Global Blocks" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>