<?xml version="1.0" encoding="utf-8"?>
<Content Key="394e654b-5f27-4ef9-b8c2-63ef7779efd9" Alias="Global Carousel Block" Level="3">
  <Info>
    <Parent Key="e23b4074-947a-4010-81c0-081cf719a008">Global Blocks</Parent>
    <Path>/Home/GlobalBlocks/GlobalCarouselBlock</Path>
    <Trashed>false</Trashed>
    <ContentType>carouselBlock</ContentType>
    <CreateDate>2022-11-29T16:06:09</CreateDate>
    <NodeName Default="Global Carousel Block" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <carouselItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7d0d10c9444647dba1ca3c5682a538fc",
        "settingsUdi": "umb://element/87dab073d08f4fb6956ef096dd1a70ee"
      },
      {
        "contentUdi": "umb://element/e3eb1117c9d74271a806096c3abe708c",
        "settingsUdi": "umb://element/f5b7d40288c647b196750d940e095af3"
      },
      {
        "contentUdi": "umb://element/49517171956646c09dd680aa3441fbef",
        "settingsUdi": "umb://element/8fe621aa32684b99af409ff24bc384b3"
      },
      {
        "contentUdi": "umb://element/4bbe1c804abc4b70b1468930f58e287d",
        "settingsUdi": "umb://element/a8689b5ec028490cb9430377e9fd0c54"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "622b2d4f-989e-463a-aa72-4ac74383f857",
      "udi": "umb://element/7d0d10c9444647dba1ca3c5682a538fc",
      "image": "[\r\n  {\r\n    \"key\": \"47df49ac-743c-47b6-87c5-93d0179449a8\",\r\n    \"mediaKey\": \"c3a392ac-e6a0-45d5-8e2a-524bf21cdf2a\"\r\n  }\r\n]",
      "link": null,
      "text": "<p>Global carousel block text.</p>",
      "title": "Title 1"
    },
    {
      "contentTypeKey": "622b2d4f-989e-463a-aa72-4ac74383f857",
      "udi": "umb://element/e3eb1117c9d74271a806096c3abe708c",
      "image": "[\r\n  {\r\n    \"key\": \"e0606712-6d9c-45b3-8468-a7ce26afc584\",\r\n    \"mediaKey\": \"02442658-2056-4a91-b6cd-825a65973fa0\"\r\n  }\r\n]",
      "link": null,
      "title": "Title 2",
      "text": "<p>Global carousel block text.</p>"
    },
    {
      "contentTypeKey": "622b2d4f-989e-463a-aa72-4ac74383f857",
      "udi": "umb://element/49517171956646c09dd680aa3441fbef",
      "image": "[\r\n  {\r\n    \"key\": \"309f336f-3f56-4368-b5c5-48e24259967d\",\r\n    \"mediaKey\": \"c0dec5fc-6a49-4fd0-bbfb-321fe7ef043f\"\r\n  }\r\n]",
      "link": null,
      "title": "Title 3",
      "text": "<p>Global carousel block text.</p>"
    },
    {
      "contentTypeKey": "622b2d4f-989e-463a-aa72-4ac74383f857",
      "udi": "umb://element/4bbe1c804abc4b70b1468930f58e287d",
      "image": "[\r\n  {\r\n    \"key\": \"8447d78f-281a-4718-98ca-46c8f2fbf22e\",\r\n    \"mediaKey\": \"b7a28236-0438-46d8-9985-8f64b95d69c4\"\r\n  }\r\n]",
      "link": null,
      "title": "Title 4",
      "text": "<p>Global carousel block text.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "acaf24f6-fa59-42c8-9a34-a3d2bbdc2d06",
      "udi": "umb://element/87dab073d08f4fb6956ef096dd1a70ee"
    },
    {
      "contentTypeKey": "acaf24f6-fa59-42c8-9a34-a3d2bbdc2d06",
      "udi": "umb://element/f5b7d40288c647b196750d940e095af3"
    },
    {
      "contentTypeKey": "acaf24f6-fa59-42c8-9a34-a3d2bbdc2d06",
      "udi": "umb://element/8fe621aa32684b99af409ff24bc384b3"
    },
    {
      "contentTypeKey": "acaf24f6-fa59-42c8-9a34-a3d2bbdc2d06",
      "udi": "umb://element/a8689b5ec028490cb9430377e9fd0c54"
    }
  ]
}]]></Value>
    </carouselItems>
    <hasCaptions>
      <Value><![CDATA[1]]></Value>
    </hasCaptions>
    <hasControls>
      <Value><![CDATA[1]]></Value>
    </hasControls>
    <hasIndicators>
      <Value><![CDATA[1]]></Value>
    </hasIndicators>
  </Properties>
</Content>