<?xml version="1.0" encoding="utf-8"?>
<Content Key="03c31845-46a3-47fb-9449-13a7c82063ca" Alias="Global Settings" Level="3">
  <Info>
    <Parent Key="84346d6d-98fb-4da6-bfda-827529cc07e2">Utility</Parent>
    <Path>/Home/Utility/GlobalSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>globalSettings</ContentType>
    <CreateDate>2022-06-17T13:11:37</CreateDate>
    <NodeName Default="Global Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <businessAddress>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b7e235cd8af841eda902612f1a3409c7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b6a80fe0-9ea3-4d5c-aaa1-b416b28a31ae",
      "udi": "umb://element/b7e235cd8af841eda902612f1a3409c7",
      "streetAddress": "1151 Galleria Boulevard",
      "city": "Roseville",
      "state": "CA",
      "zipCode": "95678",
      "streetAddress2": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </businessAddress>
    <businessName>
      <Value><![CDATA[HelloBlake]]></Value>
    </businessName>
    <businessPhone>
      <Value><![CDATA[7724456544]]></Value>
    </businessPhone>
    <globalBodyTag>
      <Value><![CDATA[]]></Value>
    </globalBodyTag>
    <globalHeadTag>
      <Value><![CDATA[]]></Value>
    </globalHeadTag>
    <globalScripts>
      <Value><![CDATA[]]></Value>
    </globalScripts>
    <headerLogoLg>
      <Value><![CDATA[[
  {
    "key": "ab2773a2-c59e-407f-b7f2-17c3806e428e",
    "mediaKey": "0e7f9629-4a4d-4189-a374-9795a3044319"
  }
]]]></Value>
    </headerLogoLg>
    <mainNav>
      <Value><![CDATA[umb://document/05ce68c7005049479cbab3abe88d2d11,umb://document/6dd0f07caf784a8c8f74ed40d29d88d7,umb://document/af23f67310d54325b6e5e5ec677e405a,umb://document/31808a02bbea4046b4dfb98851df8bdb]]></Value>
    </mainNav>
    <schemaType>
      <Value><![CDATA[Organization]]></Value>
    </schemaType>
    <showDropdown>
      <Value><![CDATA[1]]></Value>
    </showDropdown>
    <twitterHandle>
      <Value><![CDATA[designwithpink]]></Value>
    </twitterHandle>
  </Properties>
</Content>