<?xml version="1.0" encoding="utf-8"?>
<Content Key="eab4c8e7-a651-49b7-b646-c0e79af0defc" Alias="Global Block Quote" Level="3">
  <Info>
    <Parent Key="e23b4074-947a-4010-81c0-081cf719a008">Global Blocks</Parent>
    <Path>/Home/GlobalBlocks/GlobalBlockQuote</Path>
    <Trashed>false</Trashed>
    <ContentType>blockQuote</ContentType>
    <CreateDate>2022-11-29T16:05:34</CreateDate>
    <NodeName Default="Global Block Quote" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <quoteSource>
      <Value><![CDATA[Oscar Wilde]]></Value>
    </quoteSource>
    <quoteText>
      <Value><![CDATA[Not all who wander are lost.]]></Value>
    </quoteText>
  </Properties>
</Content>