<?xml version="1.0" encoding="utf-8"?>
<Content Key="4fff1c85-aea2-4cf4-a835-e02c93fa88e1" Alias="Google" Level="3">
  <Info>
    <Parent Key="05ce68c7-0050-4947-9cba-b3abe88d2d11">Example Blocks</Parent>
    <Path>/Home/ExampleBlocks/Google</Path>
    <Trashed>false</Trashed>
    <ContentType>altLink</ContentType>
    <CreateDate>2022-12-10T10:40:17</CreateDate>
    <NodeName Default="Google" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <link>
      <Value><![CDATA[[
  {
    "name": "Google",
    "target": "_blank",
    "url": "https://google.com"
  }
]]]></Value>
    </link>
  </Properties>
</Content>