<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef40826d-be47-4d52-b9a3-c33fecb8ac79" Alias="Hidden Page" Level="3">
  <Info>
    <Parent Key="6dd0f07c-af78-4a8c-8f74-ed40d29d88d7">Example Layouts</Parent>
    <Path>/Home/ExampleLayouts/HiddenPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-12-18T15:00:09</CreateDate>
    <NodeName Default="Hidden Page" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="589e7f7a-3ee9-4202-8e0c-2d15b8059c65">ContentPage</Template>
  </Info>
  <Properties>
    <canonical>
      <Value><![CDATA[]]></Value>
    </canonical>
    <contentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/13262c74e3894d5fa4e9cce777af34a8",
        "settingsUdi": "umb://element/719e9180a8f04d019a343419d6c4007a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "211c6bb2-3dea-4ebe-8dc5-9519884289fb",
      "udi": "umb://element/13262c74e3894d5fa4e9cce777af34a8",
      "column1": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/46e5c6f4789141ceaaa5388e4e92fbc8\",\r\n        \"settingsUdi\": \"umb://element/03d1936272a24c01819669ab2245766d\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"91ab9578-9743-49d4-bcb4-6f01f995d1b8\",\r\n      \"udi\": \"umb://element/46e5c6f4789141ceaaa5388e4e92fbc8\",\r\n      \"text\": \"<p>This page is hidden from navigation and search.</p>\"\r\n    }\r\n  ],\r\n  \"settingsData\": [\r\n    {\r\n      \"contentTypeKey\": \"bfdbcdb0-68e5-48b6-85ce-bab77f141621\",\r\n      \"udi\": \"umb://element/03d1936272a24c01819669ab2245766d\"\r\n    }\r\n  ]\r\n}"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "9f9a8529-908a-45b0-8bd5-f046fda9a9a1",
      "udi": "umb://element/719e9180a8f04d019a343419d6c4007a"
    }
  ]
}]]></Value>
    </contentBlocks>
    <heroContentBlocks>
      <Value><![CDATA[]]></Value>
    </heroContentBlocks>
    <hideBreadcrumbs>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumbs>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <noIndex>
      <Value><![CDATA[1]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <pageHeaderOverride>
      <Value><![CDATA[]]></Value>
    </pageHeaderOverride>
    <pageTitleTag>
      <Value><![CDATA[]]></Value>
    </pageTitleTag>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>