<?xml version="1.0" encoding="utf-8"?>
<Content Key="31808a02-bbea-4046-b4df-b98851df8bdb" Alias="Search" Level="2">
  <Info>
    <Parent Key="cd564c3c-7c58-4c38-b4fe-8ff30dd66b98">Home</Parent>
    <Path>/Home/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2022-12-18T11:50:36</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f9ab3742-09c2-405a-8ae5-3346591c81dc">SearchPage</Template>
  </Info>
  <Properties>
    <canonical>
      <Value><![CDATA[]]></Value>
    </canonical>
    <contentBlocks>
      <Value><![CDATA[]]></Value>
    </contentBlocks>
    <heroContentBlocks>
      <Value><![CDATA[]]></Value>
    </heroContentBlocks>
    <hideBreadcrumbs>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumbs>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <pageHeaderOverride>
      <Value><![CDATA[]]></Value>
    </pageHeaderOverride>
    <pageTitleTag>
      <Value><![CDATA[]]></Value>
    </pageTitleTag>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>