<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff4c0583-e0aa-4a52-96a4-bd55da62dc28" Alias="Text with Image" Level="3">
  <Info>
    <Parent Key="05ce68c7-0050-4947-9cba-b3abe88d2d11">Example Blocks</Parent>
    <Path>/Home/ExampleBlocks/TextWithImage</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-09-01T19:50:38</CreateDate>
    <NodeName Default="Text with Image" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="589e7f7a-3ee9-4202-8e0c-2d15b8059c65">ContentPage</Template>
  </Info>
  <Properties>
    <canonical>
      <Value><![CDATA[]]></Value>
    </canonical>
    <contentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/00538f11f4dd4137b938822c8d680571",
        "settingsUdi": "umb://element/8ace123871134b89b15e735f5248df6a"
      },
      {
        "contentUdi": "umb://element/31667b946af2425d8faff9c9cb916b41",
        "settingsUdi": "umb://element/9263c961de3b469f8776443b1389d09c"
      },
      {
        "contentUdi": "umb://element/1af93998dcb44eaa9ece64de5513b637",
        "settingsUdi": "umb://element/8e7151c0965a4a4da7f8853b15817b6f"
      },
      {
        "contentUdi": "umb://element/7a889ff33e154eca9986e9009fb44af1",
        "settingsUdi": "umb://element/68fc899e53c24db6b468194ac2d9a3ae"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "38018123-1dcb-48b9-94a0-320f4cd15273",
      "udi": "umb://element/00538f11f4dd4137b938822c8d680571",
      "image": "[\r\n  {\r\n    \"key\": \"08bbe603-4add-4f80-8693-122c9f8ffcd8\",\r\n    \"mediaKey\": \"b86ef9ff-3901-48a6-9cdf-9d813f12f829\"\r\n  }\r\n]",
      "umbLabel": "default",
      "text": "<h2>Default Text with Image</h2>\n<p>Ipsum suspendisse ultrices gravida dictum. Interdum varius sit amet mattis vulputate enim. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Faucibus vitae aliquet nec ullamcorper sit. Pretium aenean pharetra magna ac. Mauris commodo quis imperdiet massa tincidunt. Mauris cursus mattis molestie a iaculis at erat pellentesque. Auctor neque vitae tempus quam pellentesque nec nam aliquam. Platea dictumst quisque sagittis purus sit amet. A scelerisque purus semper eget duis at tellus at urna. Dolor purus non enim praesent elementum facilisis.</p>"
    },
    {
      "contentTypeKey": "38018123-1dcb-48b9-94a0-320f4cd15273",
      "udi": "umb://element/31667b946af2425d8faff9c9cb916b41",
      "image": "[\r\n  {\r\n    \"key\": \"1cce4eec-292b-495b-95d4-f1ac706e529d\",\r\n    \"mediaKey\": \"df3ac1a2-b30d-4dd7-beaa-4ac61388c0f7\"\r\n  }\r\n]",
      "umbLabel": "default right",
      "text": "<h2>Text with Image Right</h2>\n<p>Ipsum suspendisse ultrices gravida dictum. Interdum varius sit amet mattis vulputate enim. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Faucibus vitae aliquet nec ullamcorper sit. Pretium aenean pharetra magna ac. Mauris commodo quis imperdiet massa tincidunt. Mauris cursus mattis molestie a iaculis at erat pellentesque. Auctor neque vitae tempus quam pellentesque nec nam aliquam. Platea dictumst quisque sagittis purus sit amet. A scelerisque purus semper eget duis at tellus at urna. Dolor purus non enim praesent elementum facilisis.</p>"
    },
    {
      "contentTypeKey": "38018123-1dcb-48b9-94a0-320f4cd15273",
      "udi": "umb://element/1af93998dcb44eaa9ece64de5513b637",
      "image": "[\r\n  {\r\n    \"key\": \"7b50813f-f2d6-4331-a1ea-62a3870fdac6\",\r\n    \"mediaKey\": \"71587e24-a7ad-479f-9865-f077cf53337c\"\r\n  }\r\n]",
      "umbLabel": "outside left",
      "text": "<h2>Image Outside Left</h2>\n<p>Ipsum suspendisse ultrices gravida dictum. Interdum varius sit amet mattis vulputate enim. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Faucibus vitae aliquet nec ullamcorper sit. Pretium aenean pharetra magna ac. Mauris commodo quis imperdiet massa tincidunt. Mauris cursus mattis molestie a iaculis at erat pellentesque. Auctor neque vitae tempus quam pellentesque nec nam aliquam. Platea dictumst quisque sagittis purus sit amet. A scelerisque purus semper eget duis at tellus at urna. Dolor purus non enim praesent elementum facilisis.</p>"
    },
    {
      "contentTypeKey": "38018123-1dcb-48b9-94a0-320f4cd15273",
      "udi": "umb://element/7a889ff33e154eca9986e9009fb44af1",
      "image": "[\r\n  {\r\n    \"key\": \"b7a9861b-7eb1-437e-b9c9-bd0da0d4d86f\",\r\n    \"mediaKey\": \"81241b8b-cd38-4c29-ba19-8f5a435ea988\"\r\n  }\r\n]",
      "umbLabel": "ouside right",
      "text": "<h2>Image Outside Right</h2>\n<p>Ipsum suspendisse ultrices gravida dictum. Interdum varius sit amet mattis vulputate enim. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Faucibus vitae aliquet nec ullamcorper sit. Pretium aenean pharetra magna ac. Mauris commodo quis imperdiet massa tincidunt. Mauris cursus mattis molestie a iaculis at erat pellentesque. Auctor neque vitae tempus quam pellentesque nec nam aliquam. Platea dictumst quisque sagittis purus sit amet. A scelerisque purus semper eget duis at tellus at urna. Dolor purus non enim praesent elementum facilisis.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "f719a5ce-f0de-415d-ba06-a1a00aacb3a9",
      "udi": "umb://element/8ace123871134b89b15e735f5248df6a"
    },
    {
      "contentTypeKey": "f719a5ce-f0de-415d-ba06-a1a00aacb3a9",
      "udi": "umb://element/9263c961de3b469f8776443b1389d09c",
      "alignRight": "1",
      "alignOutside": "0"
    },
    {
      "contentTypeKey": "f719a5ce-f0de-415d-ba06-a1a00aacb3a9",
      "udi": "umb://element/8e7151c0965a4a4da7f8853b15817b6f",
      "alignRight": "0",
      "alignOutside": "1"
    },
    {
      "contentTypeKey": "f719a5ce-f0de-415d-ba06-a1a00aacb3a9",
      "udi": "umb://element/68fc899e53c24db6b468194ac2d9a3ae",
      "alignRight": "1",
      "alignOutside": "1"
    }
  ]
}]]></Value>
    </contentBlocks>
    <heroContentBlocks>
      <Value><![CDATA[]]></Value>
    </heroContentBlocks>
    <hideBreadcrumbs>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumbs>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <pageHeaderOverride>
      <Value><![CDATA[]]></Value>
    </pageHeaderOverride>
    <pageTitleTag>
      <Value><![CDATA[]]></Value>
    </pageTitleTag>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>