<?xml version="1.0" encoding="utf-8"?>
<Media Key="02442658-2056-4a91-b6cd-825a65973fa0" Alias="Amy Baugess Mnju0a6eee0 Unsplash (Custom)" Level="3">
  <Info>
    <Parent Key="471e17d4-8c31-4e19-81eb-db5cbf864858">Carousel Hero</Parent>
    <Path>/RegressionTesting/CarouselHero/AmyBaugessMnju0a6eee0UnsplashCustom</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-01T15:09:12</CreateDate>
    <NodeName Default="Amy Baugess Mnju0a6eee0 Unsplash (Custom)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lyteiasw/amy-baugess-mnju0a6eee0-unsplash-custom.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>