<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0dec5fc-6a49-4fd0-bbfb-321fe7ef043f" Alias="Kate Stone Matheson Uy5t Cjuik4 Unsplash (Custom)" Level="3">
  <Info>
    <Parent Key="471e17d4-8c31-4e19-81eb-db5cbf864858">Carousel Hero</Parent>
    <Path>/RegressionTesting/CarouselHero/KateStoneMathesonUy5tCjuik4UnsplashCustom</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-01T15:09:12</CreateDate>
    <NodeName Default="Kate Stone Matheson Uy5t Cjuik4 Unsplash (Custom)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5lcn3qcj/kate-stone-matheson-uy5t-cjuik4-unsplash-custom.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>