<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6b5bfae-fbfc-4baf-8f33-c2a903bf4dc3" Alias="Modcatshop Pdalzg0yn 8 Unsplash (Custom)" Level="3">
  <Info>
    <Parent Key="cc2561d2-b2d7-4b7d-882c-ab8567f74b77">Square Cats</Parent>
    <Path>/RegressionTesting/SquareCats/ModcatshopPdalzg0yn8UnsplashCustom</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-01T15:21:46</CreateDate>
    <NodeName Default="Modcatshop Pdalzg0yn 8 Unsplash (Custom)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vc5llrx2/modcatshop-pdalzg0yn-8-unsplash-custom.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>