<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc2561d2-b2d7-4b7d-882c-ab8567f74b77" Alias="Square Cats" Level="2">
  <Info>
    <Parent Key="d4bcfd1c-fe25-4870-9ed0-53b3798bbb1c">Regression Testing</Parent>
    <Path>/RegressionTesting/SquareCats</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-12-01T15:21:42</CreateDate>
    <NodeName Default="Square Cats" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>