<?xml version="1.0" encoding="utf-8"?>
<Media Key="875762c4-6c44-4842-b81c-906db3dfffc1" Alias="Zeke Tucker Gssk4u8yppm Unsplash (Custom)" Level="3">
  <Info>
    <Parent Key="cc2561d2-b2d7-4b7d-882c-ab8567f74b77">Square Cats</Parent>
    <Path>/RegressionTesting/SquareCats/ZekeTuckerGssk4u8yppmUnsplashCustom</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-01T15:21:46</CreateDate>
    <NodeName Default="Zeke Tucker Gssk4u8yppm Unsplash (Custom)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yjrfpb0e/zeke-tucker-gssk4u8yppm-unsplash-custom.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>