<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fa01c79-11f5-4b3e-a994-fc062930a215" Alias="Square Plants" Level="2">
  <Info>
    <Parent Key="d4bcfd1c-fe25-4870-9ed0-53b3798bbb1c">Regression Testing</Parent>
    <Path>/RegressionTesting/SquarePlants</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-12-01T15:25:28</CreateDate>
    <NodeName Default="Square Plants" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>