<?xml version="1.0" encoding="utf-8"?>
<Media Key="71587e24-a7ad-479f-9865-f077cf53337c" Alias="Yen Vu 2Mnfnpdsgyg Unsplash (Custom)" Level="3">
  <Info>
    <Parent Key="3fa01c79-11f5-4b3e-a994-fc062930a215">Square Plants</Parent>
    <Path>/RegressionTesting/SquarePlants/YenVu2MnfnpdsgygUnsplashCustom</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-01T15:25:33</CreateDate>
    <NodeName Default="Yen Vu 2Mnfnpdsgyg Unsplash (Custom)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ej5fq2nn/yen-vu-2mnfnpdsgyg-unsplash-custom.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>