<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3a392ac-e6a0-45d5-8e2a-524bf21cdf2a" Alias="Zeke Tucker Gssk4u8yppm Unsplash (Custom)" Level="3">
  <Info>
    <Parent Key="471e17d4-8c31-4e19-81eb-db5cbf864858">Carousel Hero</Parent>
    <Path>/RegressionTesting/CarouselHero/ZekeTuckerGssk4u8yppmUnsplashCustom</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-12-01T15:09:11</CreateDate>
    <NodeName Default="Zeke Tucker Gssk4u8yppm Unsplash (Custom)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vkjkhq3a/zeke-tucker-gssk4u8yppm-unsplash-custom.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>