<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc6cb8f5-81fe-41be-8708-c8ff1ecfd461" Alias="Embed" Level="3">
  <Info>
    <Parent Key="05ce68c7-0050-4947-9cba-b3abe88d2d11">Example Blocks</Parent>
    <Path>/Home/ExampleBlocks/Embed</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-11-30T16:57:32</CreateDate>
    <NodeName Default="Embed" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="589e7f7a-3ee9-4202-8e0c-2d15b8059c65">ContentPage</Template>
  </Info>
  <Properties>
    <canonical>
      <Value><![CDATA[]]></Value>
    </canonical>
    <contentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5fff773b8c4a4af9b5a7a4a64e6b651f",
        "settingsUdi": "umb://element/c5f7dfd7cb1b46fb94c8ac1221ea356b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "5205c652-606b-40a1-96bb-9c0d1b624b85",
      "udi": "umb://element/5fff773b8c4a4af9b5a7a4a64e6b651f",
      "column1": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/498a9d79cb1e40b9b2e447f346e405d6\",\r\n        \"settingsUdi\": \"umb://element/0d2a9a3e7dd94654bd0c839add112e12\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"36364b4b-4069-4d54-ac73-9dd751866c61\",\r\n      \"udi\": \"umb://element/498a9d79cb1e40b9b2e447f346e405d6\",\r\n      \"embed\": \"<iframe width=\\\"100%\\\" height=\\\"450\\\" src=\\\"https://www.youtube.com/embed/P9ZNvIkoDRo\\\" title=\\\"YouTube video player\\\" frameborder=\\\"0\\\" allow=\\\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\\\" allowfullscreen></iframe>\"\r\n    }\r\n  ],\r\n  \"settingsData\": [\r\n    {\r\n      \"contentTypeKey\": \"d56a95f5-a043-4fb7-95d4-eab31742d77a\",\r\n      \"udi\": \"umb://element/0d2a9a3e7dd94654bd0c839add112e12\"\r\n    }\r\n  ]\r\n}"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "9f9a8529-908a-45b0-8bd5-f046fda9a9a1",
      "udi": "umb://element/c5f7dfd7cb1b46fb94c8ac1221ea356b"
    }
  ]
}]]></Value>
    </contentBlocks>
    <heroContentBlocks>
      <Value><![CDATA[]]></Value>
    </heroContentBlocks>
    <hideBreadcrumbs>
      <Value><![CDATA[0]]></Value>
    </hideBreadcrumbs>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <pageHeaderOverride>
      <Value><![CDATA[]]></Value>
    </pageHeaderOverride>
    <pageTitleTag>
      <Value><![CDATA[]]></Value>
    </pageTitleTag>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>