<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c48e7c4-7825-4be2-ad17-c574dfd69b75" Alias="Global Text with Image" Level="3">
  <Info>
    <Parent Key="e23b4074-947a-4010-81c0-081cf719a008">Global Blocks</Parent>
    <Path>/Home/GlobalBlocks/GlobalTextWithImage</Path>
    <Trashed>false</Trashed>
    <ContentType>textWithImageBlock</ContentType>
    <CreateDate>2022-11-29T16:09:18</CreateDate>
    <NodeName Default="Global Text with Image" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <alignOutside>
      <Value><![CDATA[0]]></Value>
    </alignOutside>
    <alignRight>
      <Value><![CDATA[0]]></Value>
    </alignRight>
    <image>
      <Value><![CDATA[[
  {
    "key": "da0f804a-4961-46e6-9616-f53cdcabec45",
    "mediaKey": "81241b8b-cd38-4c29-ba19-8f5a435ea988"
  }
]]]></Value>
    </image>
    <text>
      <Value><![CDATA[<p>Global Text With Image</p>
<p>Leo vel orci porta non. Mattis vulputate enim nulla aliquet porttitor lacus. Sapien pellentesque habitant morbi tristique. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant. Pellentesque habitant morbi tristique senectus et netus. Natoque penatibus et magnis dis. Arcu risus quis varius quam quisque id diam vel quam. Urna porttitor rhoncus dolor purus non enim. Est pellentesque elit ullamcorper dignissim cras.</p>]]></Value>
    </text>
  </Properties>
</Content>