<?xml version="1.0" encoding="utf-8"?>
<Content Key="d47835ff-778c-4a36-8b67-8289c77bb343" Alias="Global Embed Block" Level="3">
  <Info>
    <Parent Key="e23b4074-947a-4010-81c0-081cf719a008">Global Blocks</Parent>
    <Path>/Home/GlobalBlocks/GlobalEmbedBlock</Path>
    <Trashed>false</Trashed>
    <ContentType>embedBlock</ContentType>
    <CreateDate>2022-11-29T16:07:11</CreateDate>
    <NodeName Default="Global Embed Block" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <embed>
      <Value><![CDATA[<iframe width="100%" height="500" src="https://www.youtube.com/embed/YcVzaXgPknQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>]]></Value>
    </embed>
  </Properties>
</Content>