<?xml version="1.0" encoding="utf-8"?>
<Content Key="df32b559-8c7f-46ee-bef0-748afdb71a57" Alias="Global Rich Text Block" Level="3">
  <Info>
    <Parent Key="e23b4074-947a-4010-81c0-081cf719a008">Global Blocks</Parent>
    <Path>/Home/GlobalBlocks/GlobalRichTextBlock</Path>
    <Trashed>false</Trashed>
    <ContentType>richTextBlock</ContentType>
    <CreateDate>2022-11-29T16:08:59</CreateDate>
    <NodeName Default="Global Rich Text Block" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <text>
      <Value><![CDATA[<h2>Global Rich Text Content</h2>
<p>Elementum pulvinar etiam non quam. Tortor at auctor urna nunc id cursus metus. Quis hendrerit dolor magna eget est lorem ipsum. Ut sem viverra aliquet eget sit amet tellus. Rhoncus urna neque viverra justo. Leo in vitae turpis massa sed elementum tempus. Massa enim nec dui nunc mattis enim. Tellus orci ac auctor augue mauris augue neque. Ut etiam sit amet nisl purus in mollis nunc sed. Tempus imperdiet nulla malesuada pellentesque elit eget gravida cum sociis. Arcu dui vivamus arcu felis bibendum ut tristique et egestas. Aliquet nibh praesent tristique magna sit amet purus gravida. Nunc consequat interdum varius sit. Vel pharetra vel turpis nunc eget.</p>
<p>Sed vulputate odio ut enim blandit volutpat maecenas. Nec feugiat nisl pretium fusce. Non odio euismod lacinia at quis risus sed. Odio aenean sed adipiscing diam donec adipiscing tristique. Nisi est sit amet facilisis magna etiam. Vel elit scelerisque mauris pellentesque pulvinar pellentesque. Molestie at elementum eu facilisis. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum. Felis bibendum ut tristique et egestas quis. Eget aliquet nibh praesent tristique magna sit amet purus gravida. Vitae tempus quam pellentesque nec nam aliquam sem et. Maecenas pharetra convallis posuere morbi leo.</p>
<p>Magna sit amet purus gravida quis blandit turpis cursus. Lacus vestibulum sed arcu non. Eu mi bibendum neque egestas.</p>
<p>Global Unicorns.</p>]]></Value>
    </text>
  </Properties>
</Content>