<?xml version="1.0" encoding="utf-8"?>
<Content Key="84346d6d-98fb-4da6-bfda-827529cc07e2" Alias="Utility" Level="2">
  <Info>
    <Parent Key="cd564c3c-7c58-4c38-b4fe-8ff30dd66b98">Home</Parent>
    <Path>/Home/Utility</Path>
    <Trashed>false</Trashed>
    <ContentType>utilityFolder</ContentType>
    <CreateDate>2022-06-17T13:22:25</CreateDate>
    <NodeName Default="Utility" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>