<?xml version="1.0" encoding="utf-8"?>
<Content Key="aed16261-8bea-48bd-8d59-37443a95e6ca" Alias="XML Sitemap" Level="3">
  <Info>
    <Parent Key="84346d6d-98fb-4da6-bfda-827529cc07e2">Utility</Parent>
    <Path>/Home/Utility/XMLSitemap</Path>
    <Trashed>false</Trashed>
    <ContentType>xmlSitemap</ContentType>
    <CreateDate>2022-06-17T13:22:38</CreateDate>
    <NodeName Default="XML Sitemap" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7607fc43-d3f3-44cd-889e-14d0b00dc011">XMLSitemap</Template>
  </Info>
  <Properties>
    <umbracoUrlAlias>
      <Value><![CDATA[xml-sitemap]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>