@using HelloBlake.Web.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<SearchModel>
@{
    if (Model.Query != null && Model.Query != "_")
    {
        <div class="row">
            <div class="col">
                <p>Your search for <strong>@Model.Query</strong> returned a number of <strong>@Model.TotalResults</strong> result(s)@(Model.TotalResults == 0 ? "." : ":")</p>
                @if (Model.SearchResults != null && Model.SearchResults.Any())
                {
                    <ol>
                        @foreach (var item in Model.SearchResults)
                        {
                            <li>
                                <a href="@item.PublishedItem.Url()">@item.PublishedItem.Name</a>
                            </li>
                        }
                    </ol>
                }
            </div>
        </div>
    }
}